/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-size: 4svw;
  color: var(--dark);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

a,
button {
  all: unset;
}

/* -------------------------------- css reset ------------------------------- */

:root {
  --primary: #1c5335;
  --secondary: #db9d1a;
  --dark: #1c5335;
  --light: #fffdff;
}

body {
  background-color: var(--light);
}

#header-cont {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

#top-cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12svh;
  background-color: var(--light);
  padding: 1rem;
}

#header-title {
  font-family: 'DM Serif Display', serif;
  font-size: 2.2rem;
  color: var(--primary);
}

#basket-icon {
  height: 7.5svh;
  color: var(--primary);
  filter: invert(25%) sepia(8%) saturate(3343%) hue-rotate(95deg) brightness(94%) contrast(87%);
}

#basket-alert {
  background-color: rgb(217, 11, 11);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-family: sans-serif;
  font-weight: 900;
  position: absolute;
  top: 3.4rem;
  right: 2rem;
}

#basket-alert.show {
  display: flex;
}

.cart-cont {
  display: block;
  position: inherit;
  height: 60svh;
  background-color: var(--light);
  margin: 0 1.5rem;
  border: solid 2px var(--dark);
  border-radius: 20px;
  overflow: scroll;
}

#cart-item-cont {
  height: 12svh;
  padding: 1rem;
  border-bottom: solid 1px var(--dark);
  display: flex;
  justify-content: space-between;
}

#cart-img-cont {
  width: 35%;
}

#cart-item-img {
  max-width: 100%;
  height: auto;
}

#chars-cont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

#cart-item-name {
  font-size: 1.3rem;
}

#numbers-cont {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}

.item-char {
  font-size: 1.1rem;
  font-weight: 700;
}

#main-cont {
  padding: 1rem;
}

#main-title {
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
  font-weight: 800;
  color: var(--secondary);
}

#shelf-cont {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.type-container {
  width: 44%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  background-color: #FFFFFF;
  border: 3px solid var(--dark);
  border-radius: 20px;
  padding: 0.5rem;
}

.add-btn {
  background-color: #FFFFFF;
  border: 2px solid var(--dark);
  border-radius: 7px;
  font-weight: 900;
  padding: 0 0.4rem 0 0.4rem;
}

.add-btn:active {
  background-color: var(--dark);
  color: var(--light);
}